header, nav, section, article, main, aside, figure, footer {
	display: block;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	text-align: center;
	background-color: #bef1ed;
}

header {
	margin-top: 5px:;
}

header h1 {
	color:#525252;
	font-weight: bold;
	margin-bottom: 0;
	text-transform: uppercase;
}

div.borderBottom{
	margin: 0 auto;
	width: 300px;
}

div.borderColor1{
	display: inline-block;
	background: #0066B3;
	width: 285px;
	height: 5px;
}

input {
	width: 50%;
	padding: 10px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 1.2em;
	color: #616161;
	opacity: 0.8;
	transition: opacity 400ms;
}

button#enter{
	cursor: pointer;
	border-radius: 5px;
	font-size: 1.2em;
	display: block;
	margin: 0 auto;
	width: 50%;
	background-color: #63b931;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
	padding: 10px;
	transition: background-color 1s;

}

ul.shopList {
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	width: 50%;
	position: relative;
}

@media(max-width: 991.5px){
	ul.shopList{
		width: 100%;
	}
}

.listItem{
	cursor: pointer;
	background: #fb7960;
	color: #fff;
	text-align: left;
	padding: 8px 5px;
	font-weight: bold;
	margin-bottom: 2px;
	border-radius: 5px;
}

.listItem:nth-childd(even){
	background: #e85d45;
}

.deleteBtn{
	cursor:pointer;
	border-radius: 5x;
	background: #db0808;
	position: absolute;
	right: 0;
	border: none;
	color:#fff;
	margin-top: -8px;
	padding: 8px;
	transition: background 1s;
	font-weight: bold;
	outline: none;
}